In [19]:
import pandas as pd
import random
import numpy as np

In [20]:
raw_df = pd.read_csv('./MOCK_DATA.csv')

In [21]:
raw_df.head()

    id first_name last_name  gender  department
0  101     Karlie     Tefft  Female  Automotive
1  102       Rodi  Franzoli  Female   Computers
2  103     Anabal  Endicott  Female        Kids
3  104       Roxi   Davidge  Female      Movies
4  105       Livy    Tweedy  Female      Health

In [22]:
raw_df = raw_df.drop(['department'], axis=1)

In [23]:
raw_df.head()

    id first_name last_name  gender
0  101     Karlie     Tefft  Female
1  102       Rodi  Franzoli  Female
2  103     Anabal  Endicott  Female
3  104       Roxi   Davidge  Female
4  105       Livy    Tweedy  Female

In [24]:
departments = {"sport": ['surf_board','skate', 'football_shoes','golf_shoes','soccer_shoes','running_shoes','soccer_ball','football_shoes','racket','bicycle','bicycle_helmet','sport_gloves','tennis_ball','golf_ball'], "tech": ["ram_memory","ssd","computer","laptop","monitor","mouse	","keyboard","usb_cable","wifi_adapter","hdmi_cable","headset","laptop_case","usb_stick"], "Clothing": ["basic_tshirt","basic_jeans","basic_dress","slim_jeans","shoes","jacket","neck_tshirt","polo_tshirt","sleeve_tshirt","sleeveless_tshirt","short","jeans_skirt","pants","shirt","heels","socks"], "Books": ["the_great_gatsby","the_grapes_of_wrath","nineteen_eighty_four","to_kill_a_mockingbird","the_lord_of_the_rings","brave_new_world","pride_and_prejudice","animal_farm","wuthering_heights","the_chronicles_of_narnia","moby_dick","the_hobbit","don_quixote","american_gods","neverwhere","the_ocean_at_the_end_of_the_lake"]}

In [25]:
departments['sport']

['surf_board',
 'skate',
 'football_shoes',
 'golf_shoes',
 'soccer_shoes',
 'running_shoes',
 'soccer_ball',
 'football_shoes',
 'racket',
 'bicycle',
 'bicycle_helmet',
 'sport_gloves',
 'tennis_ball',
 'golf_ball']

In [26]:
clients = raw_df['first_name'].tolist()

In [27]:
df_purchases = pd.DataFrame(columns=['client','item'])

In [28]:
client_purchases = np.empty_like([[1,2]])

In [29]:
for client in clients :
    
    # Get the items from two departments
    department1 = random.choice(list(departments.keys()))
    department2 = random.choice(list(departments.keys()))
    print(department1, department2)
    
    while department1 == department2 :
        department2 = random.choice(list(departments.keys()))
        print(department2)
        
    items = []
    items1 = departments[department1]
    items2 = departments[department2]
    items.append(items1)
    items.append(items2)
    print(items1)
    print(items1)
    print(items)
    
    purchases = random.sample(items, random.randint(3,6))
    
    for purchase in purchases:
        print(client, purchase)
        client_purchases = np.append(client_purchases, [[client, purchase]], axis=0)

tech Clothing
['basic_tshirt', 'basic_jeans', 'basic_dress', 'slim_jeans', 'shoes', 'jacket', 'neck_tshirt', 'polo_tshirt', 'sleeve_tshirt', 'sleeveless_tshirt', 'short', 'jeans_skirt', 'pants', 'shirt', 'heels', 'socks']

TypeError: Population must be a sequence or set.  For dicts, use list(d).

In [20]:
client_purchases_list = client_purchases.tolist()

In [21]:
client_purchases_list.pop(0)

['472', '0']

In [22]:
purchases = np.array(client_purchases_list)

In [23]:
df_purchases = pd.DataFrame(purchases, columns=['client', 'item'])

In [24]:
df_purchases

      client                      item
0     Karlie                ram_memory
1     Karlie                       ssd
2     Karlie              wifi_adapter
3     Karlie                 usb_cable
4     Karlie                    laptop
5       Rodi               laptop_case
6       Rodi                    laptop
7       Rodi                  computer
8       Rodi                 usb_cable
9     Anabal      nineteen_eighty_four
10    Anabal         wuthering_heights
11    Anabal                neverwhere
12      Roxi                     shoes
13      Roxi               basic_dress
14      Roxi                     short
15      Roxi                slim_jeans
16      Roxi                     pants
17      Livy                   monitor
18      Livy                  computer
19      Livy                       ssd
20   Ezekiel                neverwhere
21   Ezekiel     to_kill_a_mockingbird
22   Ezekiel          the_great_gatsby
23   Ezekiel           brave_new_world
24     Tamas               don_quixote
25     Tamas                 moby_dick
26     Tamas  the_chronicles_of_narnia
27      Fons                     shirt
28      Fons                     pants
29      Fons                     socks
..       ...                       ...
412     Cleo                   headset
413     Cleo                ram_memory
414     Cleo                   mouse\t
415  Vidovik                    laptop
416  Vidovik                   headset
417  Vidovik                hdmi_cable
418  Vidovik                 usb_cable
419  Vidovik                ram_memory
420  Vidovik                       ssd
421   Ferdie         sleeveless_tshirt
422   Ferdie                slim_jeans
423   Ferdie              basic_tshirt
424  Florian                 usb_cable
425  Florian                 usb_stick
426  Florian                   mouse\t
427     Dodi               basic_jeans
428     Dodi                    jacket
429     Dodi               basic_dress
430     Dodi                     shirt
431     Dodi              basic_tshirt
432  Chrissy                ram_memory
433  Chrissy                   headset
434  Chrissy                   mouse\t
435  Chrissy                   monitor
436  Chrissy                hdmi_cable
437  Chrissy                       ssd
438   Clevey                     skate
439   Clevey            football_shoes
440   Clevey                   bicycle
441   Clevey               tennis_ball

[442 rows x 2 columns]

In [25]:
df_purchases.to_csv('purchases2.csv', index=False)